 
.a{
  font-family: Arial, sans-serif;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.bills{
  background: black;
}
.form-box {
  background-color: white;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  width: 320px;
}

.form-group {
  position: relative;
  margin-bottom: 25px;
}

.form-group input {
  width: 100%;
  padding: 12px 1px;
  font-size: 16px;
  border: 1px solid #ccc;
  outline: none;
  border-radius: 5px;
  background: transparent;
}

.form-group label {
  position: absolute;
  top: 12px;
  left: 12px;
  background: white;
  padding: 0 4px;
  color: #888;
  pointer-events: none;
  transition: 0.3s ease;
}

.form-group input:focus + label,
.form-group input:not(:placeholder-shown):valid + label {
  top: -10px;
  left: 10px;
  font-size: 12px;
  color: #333;
}

.form-links {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-bottom: 20px;
  cursor: pointer;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
.register{
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color:  #007bff;;
}
ul{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
 
}
li{
  list-style: none;
   
}
/* .navbar{
  display: flex;
  justify-content: space-around;
} */